# Project exclude paths
/mybatisplus_01_quickstart/target/
/mybatisplus_02_dql/target/
/mybatisplus_03_dml/target/
/mybatisplus_04_generator/target/
/spring_01_quickstart/target/
/spring_02_base_config/target/
/spring_03_bean_instance/target/
/spring_04_bean_lifecycle/target/
/spring_05_di_set/target/
/spring_06_di_constructor/target/
/spring_07_di_autoware/target/
/spring_08_di_collection/target/
/spring_09_datasource/target/
/spring_10_container/target/
/spring_11_annotation_bean/target/
/spring_12_annotation_bean_manager/target/
/spring_13_annotation_di/target/
/spring_14_annotation_third_bean_manager/target/
/spring_15_spring_mybatis/target/
/spring_16_spring_junit/target/
/spring_17_aop_demo/target/
/spring_18_aop_quickstart/target/
/spring_19_aop_pointcut/target/
/spring_20_aop_advice_type/target/
/spring_21_case_interface_run_speed/target/
/spring_22_aop_advice_data/target/
/spring_23_case_handle_password/target/
/spring_24_case_transfer/target/
/spring_25_case_transfer_log/target/
/springboot_01_quickstart/target/
/springboot_02_base_config/target/
/springboot_03_read_data/target/
/springboot_04_profile/target/
/springboot_05_maven_and_boot_profile/target/
/springboot_06_config_file/target/
/springboot_07_test/target/
/springboot_08_mybatis/target/
/springboot_09_ssm/target/
/springmvc_01_quickstart/target/
/springmvc_02_bean_load/target/
/springmvc_03_request_mapping/target/
/springmvc_04_request_param/target/
/springmvc_05_response/target/
/springmvc_06_rest/target/
/springmvc_07_rest_case/target/
/springmvc_08_ssm/target/
/springmvc_09_result/target/
/springmvc_10_exception/target/
/springmvc_11_page/target/
/springmvc_12_interceptor/target/