<component name="ArtifactManager">
  <artifact type="war" name="springmvc_03_request_mapping:war">
    <output-path>$PROJECT_DIR$/springmvc_03_request_mapping/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_03_request_mapping</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_03_request_mapping-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_03_request_mapping:war exploded" />
    </root>
  </artifact>
</component>