<component name="ArtifactManager">
  <artifact type="war" name="springmvc_04_request_param:war">
    <output-path>$PROJECT_DIR$/springmvc_04_request_param/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_04_request_param</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_04_request_param-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_04_request_param:war exploded" />
    </root>
  </artifact>
</component>