<component name="ArtifactManager">
  <artifact type="war" name="springmvc_02_bean_load:war">
    <output-path>$PROJECT_DIR$/springmvc_02_bean_load/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_02_bean_load</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_02_bean_load-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_02_bean_load:war exploded" />
    </root>
  </artifact>
</component>